app-sidebar {
  grid-area: sidebar;
}

app-navbar {
  grid-area: navbar;
}

.outlet {
  grid-area: outlet;
}

.container {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-areas:
    'sidebar navbar'
    'sidebar outlet'
    'sidebar outlet';
  gap: 10px;
  height: 91vh;
}
