<div class="container">
  <div class="list">
    <h2>🐞 Bugs</h2>
  </div>
  <hr />
  <div class="listedData">
    <table cellPadding="8">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Assigned to</th>
        <th>Action</th>
      </tr>
      @for (b of bugData(); track b.id) {
        <tr>
          <td>{{ b.id }}</td>
          <td>{{ b.title }}</td>
          <td>{{ b.status }}</td>
          <td>
            @if (b.priority === 'High') {
              🔴
            } @else {
              @if (b.priority === 'Medium') {
                🟡
              } @else {
                🟢
              }
            }
            {{ b.priority }}
          </td>
          <td>
            {{ b.assignedTo }}
          </td>
          <td>
            <button class="btnWidth" (click)="goToEdit(b.id)">Edit</button>
            &nbsp;
            <button class="btnWidth" (click)="removeBug(b.id)">Remove</button>
          </td>
        </tr>
      }
    </table>
  </div>
</div>
